@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --dark-bg-clr: #1F2937;
    --cta-bg-clr: #3882F6;
    --quote-bg-clr: #E5E7EB;
    --text-clr: #F9FAF8;
    --scndry-clr: #E5E7EB;
}

body {
    font-family: 'Roboto';
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.hero-main-txt {
    font-size: 48px;
    font-weight: 800;
    color: var(--text-clr);
}

.heading-default {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-clr);
}

.information-txt {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.quote-txt {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

header {
    width: 100%;
    display: flex;
    background-color: var(--dark-bg-clr);
    color: var(--scndry-clr);
    justify-content: space-between;
    align-items: center;
    padding: 1rem 16rem;
    position: fixed;
}
header ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

.hero {
    display: flex;
    padding: 12rem 16rem 8rem 16rem;
    background-color: var(--dark-bg-clr);
    color: var(--scndry-clr);
    justify-content: space-between;
    gap: 32px;
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    flex-basis: 480px;
}

.placeholder-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d747d;
    color: var(--scndry-clr);
    flex-basis: 480px;
}

.primary-button {
    background-color: var(--cta-bg-clr);
    border: none;
    color: var(--text-clr);
    font-weight: 600;
    padding: 0.5rem 2rem;
    border-radius: 8px;
}

.secondary-button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: 600;
    padding: 0.5rem 2rem;
    border-radius: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

.illustration {
    width: 200px;
    height: 200px;
    border: 4px solid var(--cta-bg-clr);
    border-radius: 8px;
}

.info__content {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.info__item {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    color: #6d747d;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 4rem 16rem;
    background-color: var(--scndry-clr);
    gap: 8px;
}

.quote__author {
    color: var(--dark-bg-clr);
    align-self: flex-end;
}

.cta {
    background-color: var(--cta-bg-clr);
    display: flex;
    color: white;
    margin: 0 16rem;
    align-items: center;
    padding: 4rem 8rem;
    border-radius: 8px;
    justify-content: space-between;
}

.quote-txt p {
    color: var(--text-clr);
}

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    background-color: var(--dark-bg-clr);
    color: var(--text-clr);
}